main {
    width: 960px;
    margin: 0 auto;
}

body {
    background-color: bisque;
}

#search{
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}

#search a {
    margin-right: 1rem;
    text-decoration: none;
}

#searchItems{
    list-style-type: none;
    margin: 0 auto;
    width: 50%;
    margin-top: 0.5rem;
}

#searchItems li{
    display: flex;
}

#searchItems li input {
    margin-right: 0.8rem;
    font-size: larger;
}

#searchInput {
    background-color: rgb(146, 128, 107);
    border: none;
    color: white;
}

#appTitle {
    text-align: center;
}

.card {
    margin-right: 1rem;
}

#cards {
    display: flex;
    flex-direction: row;
}

#futureExer {
    margin: 1rem;
}

#currentExer {
    margin: 1rem;
}

#pastExer {
    margin: 1rem;
}

#deleteBtn {
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: rgb(146, 128, 107);
    border: none;
}

#addBtn {
    background-color: rgb(146, 128, 107);
    border: none;
    padding: 0.5rem;
    font-size: large;
}

.test {
    margin-right: 0.8rem;
}

#listAddBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#check {
    margin: 1rem;
    width: 20px;
    height: 20px;
}