main {
    width: 960px;
    margin: 0 auto;
}

body {
    background-color: bisque;
}

#appTitle {
    text-align: center;
}

.card {
    margin-right: 1rem;
}

#cards {
    display: flex;
    flex-direction: row;
}

#futureExer {
    margin: 1rem;
}

#currentExer {
    margin: 1rem;
}

#previousExer {
    margin: 1rem;
}

#deleteBtn {
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: rgb(146, 128, 107);
    border: none;
}

#check {
    margin: 1rem;
    width: 20px;
    height: 20px;
}